# Node
node_modules
RELEASE_NOTES.md/
dist/
dist_release/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Compiled Binaries & Bundles
*.exe
*.msi
*.zip

# Rust / Tauri
src-tauri/target/

# OS / IDE
.vscode/
.idea/
.DS_Store
*.log
